<h1>
    {{title}}
</h1>


<sebm-google-map class="sebm-google-map-container"
        [latitude]="rootLat"
        [longitude]="rootLng"
        [zoom]="zoom"
        [disableDefaultUI]="true"
        [zoomControl]="true"
        >

    <!--</sebm-google-map-marker>-->
    <sebm-google-map-marker *ngFor="let d of deviceMapMarkers"
                            [latitude]="d.x"
                            [longitude]="d.y"
                            [iconUrl]="d.iconUrl"
                            (markerClick) = "markerClick(d)"
            >

            <sebm-google-map-info-window maxWidth="550">
            <p><b>Device Name: {{d.info.title}}</b></p>
                <table class="pure-table pure-table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Sensor</th>
                        <th>Reading</th>
                        <th>Recorded Date</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr  *ngFor = "let sr of d.info.sensorReadings">
                        <td>{{sr.id}}</td>
                        <td>{{sr.name}}</td>
                        <td>{{sr.value}}</td>
                        <td>{{sr.createdOn | date:'shortDate'}} {{sr.createdOn | date:'shortTime'}}</td>
                    </tr>
                    </tbody>
                </table>
                <!--<div class="divTable" style="border: 1px solid #000;" >-->
                    <!--<div class="divTableBody">-->
                        <!--<div class="divTableRow" *ngFor = "let sr of d.info.sensorReadings">-->
                            <!--<div class="divTableCell">{{sr.name}}</div>-->
                            <!--<div class="divTableCell">{{sr.value}}</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!-- DivTable.com -->

            </sebm-google-map-info-window>

    </sebm-google-map-marker>

</sebm-google-map>